body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:433px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3674 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:109px;
  width:396px;
  height:731px;
  overflow:hidden;
}
#u3674_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:396px;
  height:731px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-color:rgba(245, 245, 245, 1);
  background-image:none;
}
#u3674_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:336px;
  height:2px;
}
#u3675 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:335px;
  height:1px;
}
#u3675_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u3676 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:10px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3676_img.selected {
}
#u3676.selected {
}
#u3676_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:21px;
}
#u3677 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:10px;
  width:57px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
}
#u3677_img.selected {
}
#u3677.selected {
}
#u3677_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:376px;
  height:680px;
  overflow:hidden;
}
#u3678_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:680px;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u3678_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
.u3680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:61px;
}
.u3680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
.u3680_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
.u3681 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u3681_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
.u3682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
.u3682 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:20px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u3682_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
.u3683 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:22px;
  width:18px;
  height:16px;
}
.u3683_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3683_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
.u3684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
.u3684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:1px;
}
.u3684_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:35px;
}
.u3685 {
  border-width:0px;
  position:absolute;
  left:276px;
  top:13px;
  width:57px;
  height:34px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(51, 51, 51, 0.698039215686274);
  text-align:right;
}
.u3685_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
.u3686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:21px;
}
.u3686 {
  border-width:0px;
  position:absolute;
  left:343px;
  top:20px;
  width:12px;
  height:20px;
}
.u3686_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3679-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:61px;
}
#u3679-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:375px;
  height:61px;
}
#u3679-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:375px;
  height:61px;
}
#u3679-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:183px;
  width:375px;
  height:61px;
}
#u3679-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:375px;
  height:61px;
}
#u3679-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:305px;
  width:375px;
  height:61px;
}
#u3679-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:366px;
  width:375px;
  height:61px;
}
#u3679-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:427px;
  width:375px;
  height:61px;
}
#u3679-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:488px;
  width:375px;
  height:61px;
}
#u3679-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:549px;
  width:375px;
  height:61px;
}
#u3679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:610px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3689 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:620px;
  width:30px;
  height:30px;
}
#u3689_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
}
#u3690 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:620px;
  width:64px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u3690_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:650px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3678_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:680px;
  visibility:hidden;
  overflow:auto;
  -webkit-overflow-scrolling:touch;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  background-image:none;
}
#u3678_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:31px;
}
#u3694 {
  border-width:0px;
  position:absolute;
  left:141px;
  top:1110px;
  width:30px;
  height:30px;
}
#u3694_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:31px;
}
#u3695 {
  border-width:0px;
  position:absolute;
  left:171px;
  top:1110px;
  width:64px;
  height:30px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#999999;
  text-align:left;
  line-height:24px;
}
#u3695_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:3px;
  width:64px;
  word-wrap:break-word;
}
#u3696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1140px;
  width:100px;
  height:30px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
.u3698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:61px;
}
.u3698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:60px;
}
.u3698_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:41px;
}
.u3699 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:10px;
  width:40px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u3699_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:36px;
  word-wrap:break-word;
}
.u3700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
}
.u3700 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:20px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
.u3700_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
.u3701 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:22px;
  width:18px;
  height:16px;
}
.u3701_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3701_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
.u3702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:2px;
}
.u3702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:375px;
  height:1px;
}
.u3702_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
.u3703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:18px;
}
.u3703 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:22px;
  width:117px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(51, 51, 51, 0.698039215686274);
  text-align:right;
}
.u3703_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  white-space:nowrap;
}
#u3697-1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:61px;
}
#u3697-2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:61px;
  width:375px;
  height:61px;
}
#u3697-3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:375px;
  height:61px;
}
#u3697-4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:183px;
  width:375px;
  height:61px;
}
#u3697-5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:244px;
  width:375px;
  height:61px;
}
#u3697-6 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:305px;
  width:375px;
  height:61px;
}
#u3697-7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:366px;
  width:375px;
  height:61px;
}
#u3697-8 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:427px;
  width:375px;
  height:61px;
}
#u3697-9 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:488px;
  width:375px;
  height:61px;
}
#u3697-10 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:549px;
  width:375px;
  height:61px;
}
#u3697-11 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:610px;
  width:375px;
  height:61px;
}
#u3697-12 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:671px;
  width:375px;
  height:61px;
}
#u3697-13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:732px;
  width:375px;
  height:61px;
}
#u3697-14 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:793px;
  width:375px;
  height:61px;
}
#u3697-15 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:854px;
  width:375px;
  height:61px;
}
#u3697-16 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:915px;
  width:375px;
  height:61px;
}
#u3697-17 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:976px;
  width:375px;
  height:61px;
}
#u3697-18 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1037px;
  width:375px;
  height:61px;
}
#u3697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:1098px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
}
#u3704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:81px;
}
#u3705 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:650px;
  width:375px;
  height:80px;
}
#u3705_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3706 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:665px;
  width:100px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3706_text {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3706_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:48px;
}
#u3707 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:650px;
  width:90px;
  height:47px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3707_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:14px;
  width:86px;
  word-wrap:break-word;
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:759px;
  width:376px;
  height:81px;
  overflow:hidden;
}
#u3708_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:81px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3708_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:33px;
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:48px;
  width:375px;
  height:32px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u3710_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:8px;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:88px;
  top:65px;
  width:200px;
  height:7px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  line-height:20px;
}
#u3711_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3712 {
  position:absolute;
  left:29px;
  top:25px;
}
#u3712_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:376px;
  height:85px;
  background-image:none;
}
#u3712_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:45px;
}
#u3713 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u3713_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u3715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:44px;
}
#u3715_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:376px;
  height:41px;
}
#u3717 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:44px;
  width:375px;
  height:40px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:18px;
  color:#333333;
  text-align:left;
  line-height:28px;
}
#u3717_text {
  border-width:0px;
  position:absolute;
  left:20px;
  top:6px;
  width:355px;
  word-wrap:break-word;
}
#u3718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:21px;
}
#u3718 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:54px;
  width:26px;
  height:20px;
}
#u3718_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:81px;
}
#u3721 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:806px;
  width:29px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#999999;
  line-height:28px;
}
#u3721_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u3722 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:433px;
  height:62px;
}
#u3722_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u3723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:62px;
  width:30px;
  height:803px;
}
#u3723_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:59px;
}
#u3724 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:806px;
  width:373px;
  height:59px;
}
#u3724_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:803px;
}
#u3725 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:62px;
  width:30px;
  height:803px;
}
#u3725_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
